`.loc`：支持非整数索引


`.iloc`：`i`表示`integer`，也就是要求索引内容为整数

In [20]:
import pandas as pd

In [21]:
# 创建简单的DataFrame
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'age': [25, 30, 35, 28, 32],
    'city': ['北京', '上海', '广州', '深圳', '杭州'],
    'married': [True, False, True, False, True]
}
df = pd.DataFrame(data)
df

      name  age city  married
0    Alice   25   北京     True
1      Bob   30   上海    False
2  Charlie   35   广州     True
3    David   28   深圳    False
4      Eve   32   杭州     True

In [22]:
print(df.loc[2, 'name'])

print(df.iloc[2, [1,2]])

Charlie
age     35
city    广州
Name: 2, dtype: object